<div class="social-bar">
  <a
    href="https://www.facebook.com/DevCode.la"
    class="icon icon-facebook"
    target="_blank"
    ><i class="fab fa-facebook-f"></i
  ></a>
  <a
    href="https://twitter.com/DevCodela"
    class="icon icon-whatsapp"
    target="_blank"
    ><i class="fab fa-whatsapp"></i
  ></a>
  <a
    href="https://www.youtube.com/c/devcodela"
    class="icon icon-youtube"
    target="_blank"
  >
    <i class="fab fa-youtube"></i>
  </a>
  <a
    href="https://www.instagram.com/devcodela/"
    class="icon icon-instagram"
    target="_blank"
    ><i class="fab fa-instagram"></i
  ></a>
</div>
