.social-bar {
  position: fixed;
  right: 0;
  width: 35px;
  top: 35%;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.icon {
  width: 100%;
  color: white;
  text-decoration: none;
  padding: 1rem;
  display: flex;
  transition: all 0.5s;
}

.icon-facebook {
  background: #2e406e;
}

.icon-whatsapp {
  background: #25d366;
}

.icon-youtube {
  background: #e83028;
}

.icon-instagram {
  background: #3f60a5;
}

.icon:first-child {
  border-radius: 1rem 0 0 0;
}

.icon:last-child {
  border-radius: 0 0 0 1rem;
}

.icon:hover {
  padding-right: 6rem;
  border-radius: 1rem 0 0 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.42);
}
