<!-- <header class="header sticky sticky--top js-header">
  <h1 class="header__titulo">Freddy Inmobiliaria</h1>
  <div class="grid">
    <nav class="navigation">
      <ul class="navigation__list navigation__list--inline">
        <li class="navigation__item"><a href="#" class="is-active">Home</a></li>
        <li class="navigation__item"><a href="#">About Us</a></li>
        <li class="navigation__item"><a href="#">Work</a></li>
        <li class="navigation__item"><a href="#">Clients</a></li>
        <li class="navigation__item"><a href="#">Contact</a></li>
      </ul>
    </nav>
  </div>
</header> -->

<header class="header js-header">
  <div class="header__titulo">
    <h1>Freddy Inmobiliaria</h1>
  </div>
  <nav>
    <a href="">Home</a>
    <a href="">Contactos</a>
  </nav>
</header>
