// .grid {
//   margin-left: auto;
//   margin-right: auto;
//   max-width: 48em;
//   width: 90%;
// }

// /* helpers/sticky.css */

// .sticky {
//   position: sticky;
//   will-change: transform;
// }

// .sticky--top {
//   top: 0;
// }

// /* layout/base.css */

// /* layout/header.css */

// .header {
//   font-size: 1.8rem;
//   background-color: #fff;
//   padding-bottom: 1em;
//   padding-top: 1em;
//   z-index: 1000;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   align-content: center;
// }

// .header::after {
//   bottom: 0;
//   box-shadow: 0 0.0625em 0.5em rgba(0, 0, 0, 0.3);
//   content: "";
//   left: 0;
//   opacity: 0;
//   position: absolute;
//   right: 0;
//   top: 0;
//   transition: opacity 0.3s;
//   z-index: -1;
// }

// .header.is-active::after {
//   opacity: 1;
// }

// /* layout/main.css */

// .main {
//   padding-top: 6em;
//   padding-bottom: 6em;
// }

// /* modules/headline.css */

// h1 {
//   margin-bottom: 1.5em;
//   margin-top: 0;
// }

// /* modules/navigation.css */

// .navigation a {
//   color: inherit;
//   display: block;
//   text-decoration: none;
// }

// .navigation .is-active {
//   background-color: #000;
//   color: #fff;
//   padding-left: 1em;
//   padding-right: 1em;
//   border-radius: 999px;
// }

// .navigation__list {
//   list-style: none;
//   margin: -0.5em;
//   padding: 0;
// }

// .navigation__list--inline {
//   display: flex;
// }

// .navigation__item {
//   margin: 0.5em;
// }

// /* modules/paragraph.css */

// p {
//   margin-bottom: 1.5em;
//   margin-top: 1.5em;
// }

.header {
  width: 100%;
  display: flex;
  padding: 0 25px;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;

  nav {
    display: flex;
    align-items: center;
    font-size: 1.8rem;

    a {
      display: inline-block;
      text-decoration: none;
      color: #000;
      padding: 5px 15px;
      border-radius: 50px;
      transition: 0.5s all;

      &:not(:last-child) {
        margin-right: 20px;
      }

      &:hover {
        background-color: lighten($color: #000, $amount: 30);
        // background-color: lighten($color: red, $amount: 0.25);
        color: #fff;
      }
    }
  }
}

.active {
  background-color: #000;
  color: #fff;
}
