<section class="container">
  <div class="principal">
    <div class="principal__titulo">
      <h2>Bienvenido a Inmobiliaria Freddy</h2>
      <p>Elige tu apartamento de negocio</p>
    </div>

    <div class="principal__apartamento">
      <div class="principal__apartamento--suit">
        <div class="principal__apartamento--picture">
          <img
            src="https://ld-wp.template-help.com/wordpress_prod-23275/v1/wp-content/uploads/2019/03/banner-img1.jpg"
            alt=""
          />
        </div>
        <div class="principal__apartamento--desc">
          <h3>Edificio de negocios</h3>
          <p>fdsfsd</p>
        </div>
      </div>
      <div class="principal__apartamento--suit">
        <div class="principal__apartamento--picture">
          <img
            src="https://ld-wp.template-help.com/wordpress_prod-23275/v1/wp-content/uploads/2019/03/banner-img1.jpg"
            alt=""
          />
        </div>
        <div class="principal__apartamento--desc">
          <h3>Apartamento de negocio</h3>
          <p>fdsfsd</p>
        </div>
      </div>
      <div class="principal__apartamento--suit">
        <div class="principal__apartamento--picture">
          <img
            src="https://ld-wp.template-help.com/wordpress_prod-23275/v1/wp-content/uploads/2019/03/banner-img1.jpg"
            alt=""
          />
        </div>
        <div class="principal__apartamento--desc">
          <h3>Apartamento de eventos</h3>
          <p>fdsfsd</p>
        </div>
      </div>
    </div>
  </div>

  <div class="choose"></div>
</section>
