*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.75;
  margin: 0;
  font-size: 1.6rem;
  min-height: 100%;
  background: #f5f5f5;
}

.sp-grab {
  cursor: pointer !important;
}

.mt-5 {
  margin-top: 50px;
}

.container {
  margin: 60px auto;
  width: 90%;
  max-width: 1500px;
  padding: 15px;
}

.principal {
  &__titulo {
    text-align: center;

    h2 {
      font-weight: 300;
      font-size: 4.7rem;
      color: #6592c9;
    }

    p {
      color: #545454;
    }
  }

  &__apartamento {
    margin-top: 3.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__apartamento--suit {
    width: 31%;
    padding-bottom: 30px;
    border-bottom: 3px solid #6592c9;
  }

  &__apartamento--picture {
    width: 100%;

    img {
      width: 100%;
      transition: 0.3s all;

      &:hover {
        transform: scale(1.08);
      }
    }
  }

  &__apartamento--desc {
    text-align: center;

    h3 {
      font-weight: 600;
      font-size: 2rem;
      color: #66707a;
      text-transform: uppercase;
    }
  }
}
